.container {
  width: 100vw;
  height: 100vh;
  box-sizing: border-box;
  padding: 0px 30px;
  letter-spacing: -0.5px;
}
.title {
  box-sizing: border-box;
  margin: 0;
  display: block;
  padding: 40px 0px 34px;
  font-size: 24px;
  font-weight: 500;
  line-height: 30px;
  color: rgb(51, 51, 51);
  text-align: center;
}
.title p {
  display: block;
  padding-top: 8px;
  font-size: 16px;
  font-weight: 400;
  line-height: 18px;
  color: rgb(102, 102, 102);
}
.title span {
  color: rgb(37, 124, 216);
}
.address {
  display: flex;
  -webkit-box-pack: justify;
  justify-content: space-between;
  padding-bottom: 10px;
}
.address p {
  display: inline-flex;
  overflow: hidden;
  flex: 1 1 0%;
  margin-right: 10px;
  margin-bottom: 0px;
  padding: 0px 12px;
  border: 1px solid rgb(221, 221, 221);
  border-radius: 3px;
  background-color: rgb(250, 250, 250);
  font-size: 14px;
  line-height: 42px;
  color: rgb(153, 153, 153);
  white-space: nowrap;
  text-overflow: ellipsis;
}
.address button {
  display: block;
  padding: 0px 10px;
  text-align: center;
  overflow: hidden;
  width: 120px;
  height: 44px;
  border-radius: 3px;
  color: rgb(95, 0, 128);
  background-color: rgb(255, 255, 255);
  border: 1px solid rgb(95, 0, 128);
}
.address button > span {
  line-height: 24px;
  font-size: 14px;
  font-weight: 500;
}
.address button > span > img {
  display: inline-block;
  width: 24px;
  height: 24px;
  vertical-align: top;
}
.extraAddress {
  padding-bottom: 12px;
}
.extraAddress input {
  width: 100%;
  height: 44px;
  padding: 0px 11px 1px 15px;
  border-radius: 4px;
  border: 1px solid rgb(221, 221, 221);
  font-weight: 400;
  font-size: 14px;
  line-height: 42px;
  color: rgb(51, 51, 51);
  outline: none;
  box-sizing: border-box;
  opacity: 0.7;
}
.notice {
  padding-bottom: 20px;
}
.notice p {
  font-size: 12px;
  color: rgb(153, 153, 153);
  margin-bottom: 0;
}
.submit {
  display: block;
  padding: 0px 10px;
  text-align: center;
  overflow: hidden;
  width: 100%;
  height: 44px;
  border-radius: 3px;
  color: rgb(255, 255, 255);
  background-color: rgb(95, 0, 128);
  border: 0px none;
}
