.crd img {
  transition: all 0.5s linear;
}
.crd {
  border:none;
  width: min-content;
}

.crd img:hover {
  transform: scale(1.1);
}


.bnrCrs a {
  display: flex;
  height: 370px;
  width: 100%;
  background-size: cover;
  background-color: rgb(238, 238, 238);
  background-position: 50% center;
  background-repeat: no-repeat;
}

.crdBg {
  overflow: hidden;
  background-color: white;
  height:320px;
  width:250px;
  position: relative;
}

.crdBg img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.crdBg2 {
  overflow: hidden;
  background-color: white;
  height:448px;
  width:350px;
  position: relative;
}

.crdBg2 img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.sbTitle{
  font-weight: 600;
  font-size: 28px;
  color:#333333;
  text-align: center;
  margin: 60px 0;
}

.crdTitle{
  color:#333333;
  font-size: 16px;
  font-weight:400;
}

.cancelPrice{
  text-decoration: line-through;
  font-size: 16px;
  color:#B5B5B5
}

.crtBg{
  width: 338px;
  height: 0;
  position: relative;
}

.crtBtn{
  position: absolute;
  border:none;
  background: none;
  right: 6rem;
  bottom: 1rem;
}


.crtBtnNull{
  position: absolute;
  border:none;
  background: none;
  right: 100px;
  top: 239px;
}

.dcntRate{
  font-size:18px;
  font-weight: 700;
  color:rgb(250, 98, 47);
}

.dcntPrice{
  font-size:18px;
  font-weight: 700;
  color:rgb(51, 51, 51);
}

.crdSummary{
  font-size: 13px;
  color:rgb(153, 153, 153);
}

.cpnBg{
  position:absolute;
  top:0px;
  left:0px;
  background-color:rgb(189, 118, 255);
  opacity: 0.9;
  padding:5px 10px;
}

.dcntCpn{
  color:white;
  font-size: 14px;
  font-weight: bold;
}

.cardBody{
  width: 100%;
}