.allId{
  width: 100%;
  height: 54px;
  border-radius:5px;
  border: 1px solid #5f0081;
  color: #5f0081;
  cursor: pointer;
  background-color: white;
  margin: 10px 0px;
}

  .login{
    display: block;
    width: 100%;
    height: 54px;
    border-radius: 3px;
    border: 1px solid #5f0081;
    background-color: #5f0080;
    cursor: pointer;
    color: white;
  }

  .divContent{
    width: 340px;
    margin: 80px auto;
  }

  .joinDate{
    color:#999999;
    font-size: 12px;
    margin-left: 10px;
  }

  .userCnt{
    font-weight: 600;
    font-size: 16px;
    margin-left: 10px;
    
  }

  .divUserCnt{
    display: inline-block;
    vertical-align: middle;
  }

  .cntMargin{
    margin-top: 15px;
    margin-bottom: 70px;
  }

  .cnt1{
    font-weight: 600;
    font-size: 16px;
  }

  .cnt2{
    font-weight: 400;
    font-size: 13px;
    color: #999999;
  }