.lgContent{
  width: 340px;
  padding: 90px 0px;
  letter-spacing: -.6px;
  margin: 0 auto;
}

.lgTitle{
  font-weight: 800;
  font-size: 20px;
  color: #333;
  margin-bottom: 30px;
}

.idInput{
  height: 54px;
  width: 100%;
  border-radius: 3px;
  background-color: #fff;
  font-size: 14px;
  border: 1px solid #ccc;
  margin: 4px;
  padding: 0 20px;
}

.pwdInput{
  height: 54px;
  width: 100%;
  border-radius: 3px;
  background-color: #fff;
  font-size: 14px;
  border: 1px solid #ccc;
  margin: 4px;
  padding: 0 20px;
}
.lgBtn{
  display: block;
  width: 100%;
  height: 54px;
  border-radius: 3px;
  border: 1px solid #5f0081;
  background-color: #5f0080;
  cursor: pointer;
  color: white;
}

.snupBtn{
  width: 100%;
  height: 54px;
  border-radius: 3px;
  border: 1px solid #5f0081;
  color: #5f0081;
  cursor: pointer;
  background-color: white;
  margin-top: 10px;
}

.divFind{
  font-size: 13px;
  color: #333;
  margin-bottom: 30px;
}


.divFind a:hover{
  color:#333
}

.idInput:focus, .pwdInput:focus{
    outline: 1px solid #666;
  }
