.mainLogo {
  margin: 0 auto;
  display: block;
  cursor:pointer;
  max-width: 100%;
  height:auto;
  width:25%;
  min-width: 110px;
  margin: 0 auto;
  display: block;
  cursor:pointer;
  max-height: 130px;
  max-width: 160px;

}
.aTopBnr{
  color: white;
  background-color : #5f0080;
  height: 42px;
  display: block;
}
.aTopBnr span {
  color: white;
}
.btnTopBnr{
  background-image: url(https://res.kurly.com/pc/ico/1908/ico_close_fff_42x42.png);
  width: 42px;
  height: 42px;
  background-color: transparent;
  border:0;
  float: right;
}

.bnrImg{
 width: 42px; 
 height: 42px;
}
.btnImg{
  width: 120px;
}
.btnCtn{
  display: flex;
  justify-content: space-between;
}
.tpSz{
  font-size: 12px;
  color:#333333;
  padding: 8px 16px;
}
.sgnUpTpSz{
  color: #5f0080;
}

.tpSz:hover{
  color:#333;
}

.menu:after{
  content: "";
  float: right;
  width: 1px;
  height: 13px;
  background-color: #d8d8d8;
  box-sizing: border-box;
}

.drpdwn:hover > .drpdwn_menu {
  display: block;
}
.drpdwn > .dropdown-toggle:active {
  /*Without this, clicking will make it sticky*/
  pointer-events: none;
}
.drp_itm {
  font-size: 10px;
}

.divMainLogo{
  max-height: 130px;
}

.aTopBnr:hover{
  color:white;
  color:#333;
}

.welLink{
  display:flex;
  color:#333;
  
}
.welLink:hover{
  color:#333;
}

.nImg{
  width:10px;
  height: 10px;
}

.list{
  list-style-type: none;
}

.myKurly_menu{
  position: relative;
}

.drpdwn_mycurly{
  position: absolute;
  background-color: white;
  width: 102px;
  height: auto;
  font-size: 12px;
  top:30px;
  z-index: 998;
  left:20px;
    padding: 3px 9px;
    border: 1px solid rgb(221, 221, 221);
}
.drpdwn_cstsvc{
  position: absolute;
  background-color: white;
  width: 105px;
  height: auto;
  font-size: 12px;
  top:30px;
  z-index: 998;
  right:0px;
    padding: 3px 9px;
    border: 1px solid rgb(221, 221, 221);
}


.drpdwnItem_mycurly{
  height: 24px;
    line-height: 24px;
    color: rgb(64, 64, 64);
    cursor: pointer;
}

.welcome{
  font-size: 10px;
  border: 1px solid #949296;
  background-color: white;
  border-radius: 20px;
  padding: 1px 10px;
  margin-right: 10px;
  color: #949296;
}

.midBar{
  color:#d8d8d8;
  padding:5px 0px;
  opacity: 50%;
}