footer{
  font-size: 14px;
}
.aCnts{
  display: contents;
}
.ulist{
  list-style: none;
}

.curlyClr{
  color:#5f0080;
}

.grayClr{
  color:#999;
}
.tit{
  font-weight:700;
  border: 1px solid #e3e3e3; 
  border-radius: 3px;
  height:50px;
  width:150px;
  padding:7px; 
  display:block;
  text-align: center;

}
.linkSns img{
  width:30px;
  height:30px;
}

.btmlogo{
  width:34px;
  height:34px;
}
.btmtxt{
  font-size: 10px;
  color:#999;
  display:inline-block;
  padding-left: 10px;
}

.btminfo{
  font-size: 10px; 
  background-color: #f7f7f7; 
  color: #999999;
}

.authIcon{
  display: inline-flex;
}