

.bnrCrs a {
  display: flex;
  height: 370px;
  width: 100%;
  background-size: cover;
  background-color: rgb(238, 238, 238);
  background-position: 50% center;
  background-repeat: no-repeat;
}


.sbTitle{
  font-weight: 600;
  font-size: 28px;
  color:#333333;
  text-align: center;
  margin: 60px 0;
}

.mainProductView{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(20%, auto));
	grid-column-gap: 10px;
	grid-row-gap: 30px;
  justify-items:center;
  grid-auto-flow:row;

  /* place-items: center; */


}
.mainProductSec{
margin:auto;
  width:1200px;
}
