
.menu_items {
  position: relative;
  font-size: 15px;
}

.menu_items a {
  display: block;
  font-size: inherit;
  color: inherit;
  text-decoration: none;
  min-width:120px;
}

.menu_items button {
  color: inherit;
  font-size: inherit;
  border: none;
  background-color: transparent;
  cursor: pointer;
  /* width: 100%; */
  width:200px;

  /* new additions */
  display: flex;
  justify-content: left;
  align-items: center;
}

.menu_items a,
.menu_items button {
  text-align: left;
  padding: 0.7rem 1rem;
}

/* new addition */
.menu_items button a {
  padding: 0;
}

/* submenu hover시 사용할 옵션
.menu_items a:hover,
.menu_items button:hover {
  background-color: #f2f2f2;
} */

.nvLnk{
  font-weight: 700;
  color:#333;
}

.nvLnk:hover{
  text-decoration: underline;
  color:#5f0080;
  }