.container {
  display: flex;
  position: fixed;
  z-index: 1060;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 0.625em;
  background: rgba(0, 0, 0, 0.4);
  transition: background-color 0.1s;
  overflow-x: hidden;
  -webkit-overflow-scrolling: touch;
}
.popup {
  max-width: 360px;
  position: relative;
  box-sizing: border-box;
  flex-direction: column;
  justify-content: center;
  width: 32em;
  border: none;
  border-radius: 12px;
  background: #fff;
  font-family: inherit;
  font-size: 1rem;
}
.close {
  position: absolute;
  right: 10px;
  top: 10px;
}
.content {
  z-index: 1;
  justify-content: center;
  margin: 0;
  padding: 0 1.6em;
  color: #545454;
  font-size: 1.125em;
  line-height: normal;
  text-align: center;
  word-wrap: break-word;
}
.title {
  padding: 40px 30px;
  font-size: 16px;
  text-align: center;
  letter-spacing: -0.5px;
  font-weight: 600;
  color: rgb(51, 51, 51);
  line-height: 21px;
  margin-top: 0px;
  white-space: pre-line;
}
.footer {
  border-top: 1px solid rgb(247, 247, 247);
  -webkit-box-pack: start;
  justify-content: center;
  align-items: center;
  display: flex;
  padding: 0px;
  margin-top: 0px;
  height: 56px;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
}
.button {
  width: 64px;
  height: 100%;
  border: none;
  font-size: 16px;
  font-weight: 600;
  color: rgb(95, 0, 128);
  background: transparent;
}

.rmodalBg{
  position: fixed;
  top:0; left: 0; bottom: 0; right: 0;
  z-index: 998;
  background: rgba(0, 0, 0, 0.4);
  transition: background-color 0.1s;
}

.rmodal{
  z-index:999;
  position: absolute;
  top: calc(50vh - 100px); 
  left: calc(50vw - 200px);
  background-color: white;
  /* display: flex;  */
  /* justify-content: center; */
  /* align-items: center; */
  border-radius: 10px;
  width: 360px;
  height: auto;
  border-radius:8px;
  font-size:16px;
  font-weight:500;

}
.rmodalText{
  padding: 24px 24px 0px;
  color: rgb(51, 51, 51);
 
 }
 
 .rmodalDiv{
   float:right;
   padding : 5px ;
 }
 
 .rmodalButton{
   width:64px;
   height:56px;
   border: none;
   background-color: white;
   color: #5F0080;
   font-weight: bolder;
   font-size: 16px;
 }
 