.searchProductSec{
  margin: 80px auto;
    width:1200px;
  }

  .searchProductView{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30%, auto));
    grid-column-gap: 10px;
    grid-row-gap: 30px;
    justify-items:center;
    grid-auto-flow:row;

  }

  .resultD{
    text-align: center;
    height:100px;
    font-size: 28px;
    padding: 40px;
    margin:40px;
    font-size: 28px;
    font-weight: bolder;
    color:#333333;
    
  }

  .resultS{
    color:#5f0080;
  }