.tableContainer{
  border-top: 1px solid #522772;
  border-bottom: 1px solid #522772;
}

.table{
  text-align: center;
  margin: auto;
  width:100%;
}

.table th, td{
  padding : 25px  0px 23px;
  font-size: 12px;
  color: #4c4c4c;
  border-bottom: 1px solid #e4e4e4;
  
}

.tNum{
  width: 70px;
}
.tTitle{
  width: 600px;
}
.tRating{
  width: 50px;
}
.tWriter{
  width: 100px;
}
.tDate{
  width: 100px;
}
.tHelp{
  width: 80px;
}
.hidden{
  display:none;
}

.hoverE:hover{
  background-color: #f3f3f3;
}
.prodReviewH{
  font-size: 13px;
  font-weight: bold;
  color:#4c4c4c;
}


.prodReviewUl{
list-style-type: square;
}
.prodReviewUl p{
  font-size: 12px;
  color:#666666;
  margin: 3px 0px;
}
.prodRevSelDiv{
  float:right;

}
.prodViewSelect{
  font-size: 12px;
  color:#4c4c4c;
}
.alignLeft{
  text-align: left;
}

.whiteSpace{
  white-space: pre-wrap;
}