.container {
  display: flex;
  flex-direction: column;
}
.wrapper {
  padding: 0 30px;
  min-height: 530px;
}
.title {
  margin: 0;
  padding: 32px 0 0 30px;
  font-weight: 700;
  font-size: 24px;
  line-height: 36px;
  letter-spacing: -0.5px;
}
button {
  width: 100%;
  height: 44px;
  border-radius: 3px;
  font-weight: 700;
  font-size: 14px;
  line-height: 42px;
  text-align: center;
  outline: none;
}
.save_btn {
  border: 1px solid #5f0081;
  background-color: #5f0080;
  color: #fff;
}
.delete_btn {
  border: 1px solid #ddd;
  background-color: #fff;
  color: #333;
  margin-top: 12px;
}
.address {
  margin: 0;
  padding-bottom: 12px;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.3px;
}
.p {
  margin: 0;
  padding-bottom: 7px;
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: -0.3px;
}
.input {
  width: 100%;
  height: 44px;
  padding: 1px 11px 0 15px;
  border-radius: 3px;
  border: 1px solid #ddd;
  font-family: Noto Sans;
  font-weight: 700;
  font-size: 14px;
  letter-spacing: -0.5px;
  line-height: 1.5;
  color: #333;
  appearance: none;
  outline: 0;
}
.field {
  padding-top: 22px;
}
.label {
  width: 100%;
  padding: 20px 0 19px;
  font-size: 14px;
}
.checkbox {
  position: absolute;
  z-index: -1;
  opacity: 0;
}
.icon {
  display: inline-block;
  position: relative;
  width: 24px;
  height: 24px;
  margin-right: 12px;
  border: 0;
  background-image: url(https://res.kurly.com/mobile/service/common/2006/ico_checkbox.svg);
  background-color: transparent;
  background-repeat: no-repeat;
  background-size: 24px 24px;
  background-position: 50% 50%;
  vertical-align: -7px;
}
.checked {
  display: inline-block;
  position: relative;
  width: 24px;
  height: 24px;
  margin-right: 12px;
  border: 0;
  background-image: url(https://res.kurly.com/mobile/service/common/2006/ico_checkbox_checked.svg);
  background-color: transparent;
  background-repeat: no-repeat;
  background-size: 24px 24px;
  background-position: 50% 50%;
  vertical-align: -7px;
}
