.page {
  position: relative;
  min-width: 1050px;
}
.container {
  display: flex;
  width: 1050px;
  padding: 50px 0px 80px;
  margin: 0px auto;
  flex-direction: row;
  -webkit-box-pack: justify;
  justify-content: space-between;
}
.contentbox {
  width: 820px;
}
.content_header {
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  padding: 10px 0px 37px;
}
.content_header h3 {
  font-weight: 600;
  font-size: 24px;
  color: rgb(51, 51, 51);
  letter-spacing: -0.5px;
}
.couponbox {
  padding: 19px 29px 14px;
  border: 1px solid rgb(221, 221, 221);
}
.couponform {
  display: flex;
}
.inputbox {
  padding: 0px;
  height: auto;
  position: relative;
}
.inputbox input {
  margin-right: 10px;
  width: 210px;
  height: 34px;
  padding: 0px 10px;
  border-radius: 0px;
  border: 1px solid rgb(26, 26, 26);
  font-size: 12px;
  font-weight: 400;
  color: rgb(0, 0, 0);
  line-height: 32px;
  outline: none;
  letter-spacing: -0.6px;
}
.inputbox button {
  width: 140px;
  height: 34px;
  border: none;
  background-color: rgb(95, 0, 128);
  font-size: 12px;
  font-weight: 400;
  color: rgb(255, 255, 255);
}
.inputbox p {
  margin-top: 13px;
  margin-bottom: 0;
  font-size: 12px;
  color: rgb(240, 63, 64);
}
.notice {
  display: flex;
  -webkit-box-pack: justify;
  justify-content: space-between;
  color: rgb(102, 102, 102);
  font-weight: 400;
  padding: 35px 0px 15px;
}
.notice :first-child::before {
  content: '';
  width: 4px;
  height: 4px;
  background-color: rgb(76, 76, 76);
  margin-right: 6px;
}
.notice :first-child {
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  font-size: 12px;
}
.notice :last-child {
  -webkit-box-pack: justify;
  justify-content: space-between;
  font-size: 13px;
  margin-right: 6px;
}
.table {
  width: 820px;
  border-collapse: collapse;
  border-spacing: 0;
}
.thead {
  display: table-header-group;
  vertical-align: middle;
  border-color: inherit;
}
.thead tr {
  border-bottom: 1px solid rgb(51, 51, 51);
  border-top: 2px solid rgb(51, 51, 51);
  display: table-row;
  vertical-align: inherit;
  border-color: inherit;
}
.thead th {
  width: 100px;
  padding: 18px 0px 19px;
  text-align: center;
  font-size: 14px;
  line-height: 20px;
  font-weight: 600;
  letter-spacing: -0.5px;
  color: rgb(51, 51, 51);
}
.thead :first-of-type {
  width: auto;
  text-align: left;
  padding-left: 10px;
}
.thead :nth-last-of-type(2) {
  width: 150px;
}
.thead :nth-last-of-type(4) {
  width: 70px;
}
.tbody_tr {
  border: 0px;
}
.tbody_td {
  border-bottom: 1px solid rgb(244, 244, 244);
  text-align: center;
  padding: 50px 0px;
  font-size: 13px;
  color: rgb(102, 102, 102);
}
