.page {
  position: relative;
  min-width: 1050px;
}
.container {
  display: flex;
  width: 1050px;
  padding: 50px 0px 80px;
  margin: 0px auto;
  flex-direction: row;
  -webkit-box-pack: justify;
  justify-content: space-between;
}
.title {
  height: 36px;
  font-weight: 700;
  font-size: 24px;
  line-height: 36px;
  color: #333;
  letter-spacing: -0.5px;
}
.subtitle {
  padding-left: 11px;
  font-size: 14px;
  color: #999;
  line-height: 20px;
  letter-spacing: -0.3px;
  vertical-align: 3px;
}
.content_header {
  padding: 5px 0 34px;
}
.newaddress {
  position: relative;
}
.newaddress button {
  width: 140px;
  position: absolute;
  right: 3px;
  bottom: 7px;
  border: 0 none;
  background-color: #fff;
  font-weight: 700;
  font-size: 16px;
  color: #333;
  line-height: 24px;
  letter-spacing: -0.5px;
  text-align: right;
}
.table {
  width: 820px;
  border-collapse: collapse;
  border-spacing: 0;
}
.thead {
  display: table-header-group;
  vertical-align: middle;
  border-color: inherit;
}
.thead tr {
  border-bottom: 1px solid rgb(51, 51, 51);
  border-top: 2px solid rgb(51, 51, 51);
  display: table-row;
  vertical-align: inherit;
  border-color: inherit;
}
.thead th {
  padding: 20px 0;
  display: table-cell;
  border-top: 2px solid #333;
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
  color: #333;
  letter-spacing: -0.5px;
  text-align: center;
}
.thead :first-of-type {
  width: 60px;
}
.thead :nth-last-of-type(5) {
  width: auto;
}
.thead :nth-last-of-type(4) {
  width: 120px;
}
.thead :nth-last-of-type(3) {
  width: 100px;
}
.thead :nth-last-of-type(2) {
  width: 100px;
}
.thead :nth-last-of-type(1) {
  width: 60px;
}
.tbody_tr {
  border: 0px;
}
.tbody_td {
  border-bottom: 1px solid rgb(244, 244, 244);
  text-align: center;
  padding: 50px 0px;
  font-size: 13px;
  color: rgb(102, 102, 102);
}
.select {
  background: url(https://res.kurly.com/mobile/service/common/2003/ico_checkbox_checked.png)
    no-repeat 50% 50%;
  background-size: 24px 24px;
}
.edit {
  width: 24px;
  height: 24px;
  border: 0 none;
  background: url(https://res.kurly.com/mobile/ico/2006/ico_modify.png)
    no-repeat 50% 50%;
  font-size: 0;
  line-height: 0;
}
.radiobox input {
  min-width: 24px;
  min-height: 24px;
  display: inline-block;
  position: relative;
  border-radius: 50%;
  background-color: white;
  border: 1px solid rgb(221, 221, 221);
}
.address {
  padding: 0;
  font-size: 16px;
  font-weight: 600;
  color: #333;
  line-height: 24px;
  letter-spacing: -0.3px;
  text-align: left;
  word-break: break-all;
}
