.page {
  position: relative;
  min-width: 820px;
}
.container {
  display: flex;
  width: 1050px;
  padding: 50px 0px 80px;
  margin: 0px auto;
  flex-direction: row;
  -webkit-box-pack: justify;
  justify-content: space-between;
}
.contentbox {
  margin-left: 30px;
}
.title {
  height: 36px;
  font-weight: 600;
  font-size: 24px;
  line-height: 36px;
  color: #333;
  letter-spacing: -0.5px;
}
.article {
  padding-bottom: 20px;
}
.notice h4 {
  padding-bottom: 8px;
  font-weight: 600;
  font-size: 18px;
  margin: 0%;
}
.notice p {
  padding-bottom: 20px;
  font-size: 12px;
  line-height: 1.5;
  color: rgb(102, 102, 102);
}
.infoedit {
  padding: 7px 60px 7px 120px;
  border-top: 2px solid rgb(51, 51, 51);
  border-bottom: 1px solid rgb(221, 221, 221);
}
.list {
  display: inline-flex;
  width: 100%;
  padding: 10px 20px;
}
.space {
  width: 160px;
  margin-left: 8px;
}
.labelbox {
  width: 139px;
  padding-top: 12px;
}
.label {
  font-weight: 600;
  color: rgb(51, 51, 51);
  line-height: 20px;
}
.form {
  flex: 1 1 0%;
  padding: 0px;
}
.inputbox {
  position: relative;
  height: 48px;
}
.input {
  width: 100%;
  height: 46px;
  padding: 0px 11px 1px 15px;
  border-radius: 4px;
  border: 1px solid rgb(221, 221, 221);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: rgb(51, 51, 51);
  outline: none;
  box-sizing: border-box;
}
.input:focus {
  border: 1px solid rgb(0, 0, 0);
}
.invalid {
  padding: 10px 0px;
}
.invalid p {
  font-size: 13px;
  color: rgb(240, 63, 64);
  margin-top: -4px;
}
.submit {
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  margin-top: 40px;
}
.submit button {
  display: block;
  padding: 0px 10px;
  text-align: center;
  overflow: hidden;
  width: 240px;
  height: 56px;
  border-radius: 3px;
  color: rgb(255, 255, 255);
  background-color: rgb(95, 0, 128);
  border: 0px none;
}
.submit span {
  display: inline-block;
  font-size: 16px;
  font-weight: 600;
}
