.page {
  position: relative;
  min-width: 1050px;
}
.container {
  display: flex;
  width: 1050px;
  padding: 50px 0px 80px;
  margin: 0px auto;
  flex-direction: row;
  -webkit-box-pack: justify;
  justify-content: space-between;
}

.title {
  height: 36px;
  font-weight: 700;
  font-size: 24px;
  line-height: 36px;
  color: #333;
  letter-spacing: -0.5px;
}

.subtitle {
  padding-left: 12px;
  font-size: 14px;
  color: #999;
  line-height: 20px;
  letter-spacing: -0.3px;
  vertical-align: 3px;
}
.subtitle a {
  font-weight: 700;
  color: #999;
  text-decoration: underline;
}
.subtitle::before {
  display: inline-block;
  width: 2px;
  height: 2px;
  margin: 11px 6px 0 -10px;
  background: #999;
  vertical-align: top;
  content: '';
}
.content_header {
  padding: 5px 0 34px;
}
.newaddress {
  position: relative;
}
.newaddress button {
  position: absolute;
  right: 3px;
  bottom: 7px;
  border: 0 none;
  background-color: #fff;
  font-weight: 700;
  font-size: 16px;
  color: #333;
  line-height: 24px;
  letter-spacing: -0.5px;
  text-align: right;
}
.table {
  width: 820px;
  border-collapse: collapse;
  border-spacing: 0;
}
.thead {
  display: table-header-group;
  vertical-align: middle;
  border-color: inherit;
}
.thead tr {
  border-bottom: 1px solid rgb(51, 51, 51);
  border-top: 2px solid rgb(51, 51, 51);
  display: table-row;
  vertical-align: inherit;
  border-color: inherit;
}
.thead th {
  padding: 20px 0;
  display: table-cell;
  border-top: 2px solid #333;
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
  color: #333;
  letter-spacing: -0.5px;
  text-align: center;
}
.thead_tr :first-of-type {
  width: 520px;
}

.thead_tr :nth-last-of-type(2) {
  width: 100px;
}
.thead_tr :nth-last-of-type(1) {
  width: 100px;
}
.tbody_td {
  border-bottom: 1px solid rgb(244, 244, 244);
  text-align: center;
  padding: 50px 0px;
  font-size: 13px;
  color: rgb(102, 102, 102);
}
.tbody_td div {
  font-size: 16px;
  font-weight: 500;
  color: #333;
  padding: 117px 0;
  text-align: center;
  cursor: default;
}
.inquiry_area {
  width: 100%;
  padding-top: 20px;
  text-align: center;
}
.navigation {
  padding-top: 20px;
  text-align: center;
}
.navigation button {
  display: inline-block;
  width: 44px;
  height: 44px;
  padding: 0;
  margin: 0;
  background: 0;
  border: 1px solid #eee;
  border-radius: 3px;
}
.navigation span {
  overflow: hidden;
  position: absolute;
  width: 1px;
  height: 1px;
  clip: rect(0, 0, 0, 0);
  border-color: #eee;
  cursor: default;
}
.paging_prev {
  margin-right: 12px !important;
  background: url(https://res.kurly.com/kurly/img/2021/direction_prev_24_44_black.svg)
    50% 0 no-repeat !important;
}
.paging_next {
  background: url(https://res.kurly.com/kurly/img/2021/direction_next_24_44_black.svg)
    50% 0 no-repeat !important;
}
