.page {
  position: relative;
  min-width: 1050px;
}
.container {
  display: flex;
  width: 1050px;
  padding: 50px 0px 80px;
  margin: 0px auto;
  flex-direction: row;
  -webkit-box-pack: justify;
  justify-content: space-between;
}
.contentbox {
  width: 820px;
}
.content_header {
  display: flex;
  flex-direction: row;
  width: 100%;
  padding-bottom: 27px;
  -webkit-box-pack: justify;
  justify-content: space-between;
}
.title {
  display: flex;
  flex-direction: row;
  -webkit-box-align: center;
  align-items: center;
}
.title h2 {
  font-weight: 600;
  font-size: 24px;
  color: rgb(51, 51, 51);
  letter-spacing: -0.5px;
  line-height: 48px;
}
.title span {
  padding-left: 11px;
  font-size: 14px;
  letter-spacing: -0.3px;
  color: rgb(153, 153, 153);
  line-height: 20px;
}

.outline {
  line-height: 1.4375em;
  letter-spacing: 0.00938em;
  color: rgba(0, 0, 0, 0.87);
  box-sizing: border-box;
  cursor: text;
  display: inline-flex;
  -webkit-box-align: center;
  align-items: center;
  position: relative;
  font-size: 14px;
  height: 44px;
  border-color: rgb(221, 221, 221);
  border-radius: 0px;
}
.selector {
  appearance: none;
  user-select: none;
  border-radius: 4px;
  cursor: pointer;
  font: inherit;
  letter-spacing: inherit;
  color: currentcolor;
  border: 0px;
  box-sizing: content-box;
  background: none;
  height: 1.4375em;
  margin: 0px;
  -webkit-tap-highlight-color: transparent;
  display: block;
  min-width: 0px;
  width: 100%;
  animation-name: mui-auto-fill-cancel;
  animation-duration: 10ms;
  padding: 16.5px 14px;
}
.inputbox {
  bottom: 0px;
  left: 0px;
  position: absolute;
  opacity: 0;
  pointer-events: none;
  width: 100%;
  box-sizing: border-box;
}
.filedset {
  text-align: left;
  position: absolute;
  inset: -5px 0px 0px;
  margin: 0px;
  padding: 0px 8px;
  pointer-events: none;
  border-radius: inherit;
  border-style: solid;
  border-width: 1px;
  overflow: hidden;
  min-width: 0%;
  border-color: #ddd;
}
.line {
  display: flex;
  flex-direction: row;
  width: 100%;
  -webkit-box-align: center;
  align-items: center;
  border-bottom: 2px solid rgb(51, 51, 51);
}
.content {
  padding-top: 20px;
  position: relative;
  height: 100%;
}
.warning {
  height: 540px;
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
}
.warning div {
  display: flex;
  flex-direction: column;
  -webkit-box-align: center;
  align-items: center;
}
.warning p {
  margin: 8px 0px 24px;
  font-size: 16px;
  color: rgb(181, 181, 181);
  text-align: center;
}

.warning button {
  display: block;
  padding: 0px 10px;
  text-align: center;
  overflow: hidden;
  width: 150px;
  height: 44px;
  border-radius: 3px;
  color: rgb(255, 255, 255);
  background-color: rgb(95, 0, 128);
  border: 0px none;
}
.warning button > span {
  font-size: 14px;
}
