.page {
  position: relative;
  min-width: 820px;
}
.container {
  display: flex;
  width: 1050px;
  padding: 50px 0px 80px;
  margin: 0px auto;
  flex-direction: row;
  -webkit-box-pack: justify;
}
.contentbox {
  margin-left: 30px;
}
.title {
  height: 36px;
  font-weight: 700;
  font-size: 24px;
  line-height: 36px;
  color: #333;
  letter-spacing: -0.5px;
}
.article {
  padding-bottom: 20px;
}
.notice {
  font-size: 14px;
  color: #999;
  line-height: 22px;
  letter-spacing: -0.3px;
}
.review_tab {
  overflow: hidden;
  padding-top: 30px;
}
.buttonbox {
  float: left;
  width: 410px;
  height: 50px;
}
.button {
  display: block;
  overflow: hidden;
  width: 100%;
  height: 100%;
  border: 1px solid #dddfe1;
  background-color: #fff;
  font-size: 14px;
  color: #666;
  line-height: 44px;
  text-align: center;
}
.active {
  font-weight: 700;
  color: #5f0080;
  display: block;
  overflow: hidden;
  width: 100%;
  height: 100%;
  border: 1px solid #dddfe1;
  border-bottom: 2px solid #5f0080;
  background-color: #fff;
  font-size: 14px;
  line-height: 44px;
  text-align: center;
}
